@media (max-width: 575px) {
    .profile-pic {
        width: 180px;
    }

    .btn-primary {
        width: 180px;
    }
}


@media (max-width: 425px) {
    .navbar ul {
        font-size: small;
    }

    .navbar #brand {
        font-size: small;
    }

    .profile-pic {
        width: 180px;
    }

    .btn-primary {
        width: 180px;
    }
}